主頁面: Angular+JPA table: articles (DATE:0203)
<form [formGroup]="initForm">
  商品名稱:<input type="text" formControlName="name" placeholder="商品名稱" maxlength="8"><br>

  商品狀態:<label *ngFor="let e of statusList">
  <input type="radio" formControlName="status" [value]="e.status"/>{{ e.statusName }}</label><br>

  商品品牌:<select formControlName="brand">
          <option value="">請選擇</option>
          <option *ngFor="let e of brandList" [value]="e.brand">{{e.brand}}</option>
         </select><br>

  商品分類:<label *ngFor="let e of categoryList">
  <input type="checkbox" formControlName="category" [value]="e.category" (change)="getCategory($event)">{{e.category}}
</label><br>

  <input type="file" (change)="onFileChange($event)"/>
  <button type="button" (click)="uploadExcel()">上傳</button><br>

  <span style="color:red; font-size: 20px">{{info}}</span>
</form>

<button type="button" [disabled]="initForm.invalid" (click)="query()">查詢</button>
<button type="button" (click)="openAddDialog()">新增</button>
<button type="button" (click)="downloadExcel()">下載</button>


<!--<table border="1">-->
<table border="1">
  <tr>
    <th>編號</th>
    <th>編輯</th>
    <th>商品id</th>
    <th>商品名稱</th>
    <th>商品描述</th>
    <th>商品價格</th>
    <th>庫存數量</th>
    <th>商品分類</th>
    <th>商品品牌</th>
    <th>商品編號</th>
    <th>商品狀態</th>
    <th>建立時間</th>
    <th>更新時間</th>
  </tr>

  <tr *ngFor="let product of productList | paginate: { id:'productList', itemsPerPage: pageSize, currentPage: page }; let i = index">
    <td>{{ i + 1 }}</td>

    <!-- 編輯欄 -->
    <td>
      <!-- 非編輯狀態 -->
      <ng-container *ngIf="editingId !== product.id; else editingBtns">
        <button type="button" (click)="startEdit(product)">修改</button>
        <button type="button" (click)="delete(product.id)">刪除</button>
      </ng-container>

      <!-- 編輯中狀態 -->
      <ng-template #editingBtns>
        <button type="button" (click)="update()">保存</button>
        <button type="button" (click)="cancelEdit()">取消</button>
      </ng-template>
    </td>

    <td>{{ product.id }}</td>


    <td>
      <ng-container *ngIf="editingId !== product.id; else editName">
        {{  product.name }}
      </ng-container>
      <ng-template #editName>
        <input [(ngModel)]="editModel.name" />
      </ng-template>
    </td>


    <td>
      <ng-container *ngIf="editingId !== product.id; else editDescription">
        {{ product.description }}
      </ng-container>
      <ng-template #editDescription>
        <input [(ngModel)]="editModel.description" />
      </ng-template>
    </td>


    <td>
      <ng-container *ngIf="editingId !== product.id; else editPrice">
        {{ product.price | number }}
      </ng-container>
      <ng-template #editPrice>
        <input [(ngModel)]="editModel.price" />
      </ng-template>
    </td>


    <td>
      <ng-container *ngIf="editingId !== product.id; else editStock">
        {{ product.stock }}
      </ng-container>
      <ng-template #editStock>
        <input type="number" [(ngModel)]="editModel.stock" />
      </ng-template>
    </td>

    <td>
      <ng-container *ngIf="editingId !== product.id; else ediCategory">
        {{ product.category }}
      </ng-container>

      <ng-template #ediCategory>
        <label *ngFor="let e of categoryList" style="margin-right:10px;">
          <input type="checkbox" [value]="e.category" [checked]="selectCategory.includes(e.category)" (change)="getCategory($event)"/>
          {{ e.category }}
        </label>
      </ng-template>
    </td>




    <td>
      <ng-container *ngIf="editingId !== product.id; else editBrand">
        {{ product.brand }}
      </ng-container>

      <ng-template #editBrand>
        <select [(ngModel)]="editModel.brand">
          <option value="">請選擇</option>
          <option *ngFor="let e of brandList" [ngValue]="e.brand">{{ e.brand }}</option>
        </select>
      </ng-template>
    </td>

    <td>
      <ng-container *ngIf="editingId !== product.id; else editSku">
        {{ product.sku }}
      </ng-container>
      <ng-template #editSku>
        <input [(ngModel)]="editModel.sku" />
      </ng-template>
    </td>


    <td>
      <ng-container *ngIf="editingId !== product.id; else editStatus">
        {{ product.status }}
      </ng-container>

      <ng-template #editStatus>
        <label *ngFor="let e of statusList" style="margin-right:10px;">
          <input type="radio" name="status{{ product.id }}" [(ngModel)]="editModel.status" [value]="e.status"/>
          {{ e.statusName }}
        </label>
      </ng-template>
    </td>




    <td>
      <ng-container *ngIf="editingId !== product.id; else editCreatedTime">
        {{approveDateStart(product.createdTime) }}
      </ng-container>
      <ng-template #editCreatedTime>
        <input type="datetime-local" [(ngModel)]="editModel.createdTime">
      </ng-template>
    </td>

    <td>
      <ng-container *ngIf="editingId !== product.id; else editUpdatedTime">
        {{approveDateStart(product.updatedTime) }}
      </ng-container>
      <ng-template #editUpdatedTime>
        <input type="datetime-local" [(ngModel)]="editModel.updatedTime" />
      </ng-template>
    </td>
  </tr>
</table>

<pagination-controls
  id="productList"
  (pageChange)="page = $event; cancelEdit()">
</pagination-controls>


<!--新增畫面-->
<!-- 背景遮罩（先不要點背景關閉，避免誤觸） -->
<div class="my-overlay" *ngIf="showAddDialog"></div>

<!-- 彈窗本體 -->
<div class="my-modal" *ngIf="showAddDialog">
  <div class="my-modal-header">
    <h3>新增資料</h3>
    <button type="button" class="x" (click)="closeAddDialog()">×</button>
  </div>

  <div class="my-modal-body">
    <form [formGroup]="regForm">

      商品名稱:<span style="color:red">*</span>
      <input type="text" formControlName="name" placeholder="商品名稱" maxlength="8"/><br>

      商品描述:<span style="color:red">*</span>
      <input type="text" formControlName="description" maxlength="8" placeholder="商品描述"/><br>

      商品價格:<span style="color:red">*</span>
      <input type="text" formControlName="price" maxlength="8" placeholder="商品價格"/><br>

      庫存數量:<span style="color:red">*</span>
      <input type="text" formControlName="stock" maxlength="4" placeholder="庫存數量"/><br>

      商品分類:<label *ngFor="let e of categoryList">
      <input type="checkbox" formControlName="category" [value]="e.category" (change)="getCategory($event)">{{e.category}}
    </label><br>

      商品品牌:<select formControlName="brand">
      <option value="">請選擇</option>
      <option *ngFor="let e of brandList" [value]="e.brand">{{e.brand}}</option>
    </select><br>

      商品編號:<span style="color:red">*</span>
      <input type="text" formControlName="sku" maxlength="4" placeholder="商品編號"/><br>

      商品狀態:<label *ngFor="let e of statusList">
      <input type="radio" formControlName="status" [value]="e.status"/>{{ e.statusName }}</label><br>


      建立時間:<span style="color:red">*</span>
      <input type="datetime-local" formControlName="createdTime"/><br>

      更新時間:<span style="color:red">*</span>
      <input type="datetime-local" formControlName="updatedTime"/><br>
      <span style="color:red; font-size: 20px">{{ins}}</span>
    </form>

  </div>

  <div class="my-modal-footer">
    <button type="button" [disabled]="regForm.invalid" (click)="insert()">儲存</button>
    <button type="button" (click)="closeAddDialog()">取消</button>
  </div>
</div>

<button type="button" (click)="querySmrA16()">查詢</button>
<h3>SMR 資料</h3>
<div style="color:red" *ngIf="smrInfo">{{ smrInfo }}</div>

<table border="1" cellspacing="0" cellpadding="6" *ngIf="smrRows.length">
  <thead>
  <tr>
    <th>日期</th>
    <th>公司代碼</th>
    <th>公司名稱</th>
    <th>狀態</th>
    <th>狀態名稱</th>
    <th>補件</th>
    <th>建立者</th>
    <th>建立時間</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let r of smrRows">
    <td>{{ r.evalDate }}</td>
    <td>{{ r.companyId }}</td>
    <td>{{ r.companyName }}</td>
    <td>{{ r.status }}</td>
    <td>{{ r.statusName }}</td>
    <td>{{ r.reApply }}</td>
    <td>{{ r.createUser }}</td>
    <td>{{ r.createDate }}</td>
  </tr>
  </tbody>
</table>

<div *ngIf="!smrRows.length">尚無資料</div>

