.layout{
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
}

#menu{
  flex: 0 0 180px;
}

.content{
  flex: 1;
  padding: 16px;
}


.logout-btn {
  position: fixed;
  top: 12px;
  right: 16px;
  z-index: 9999;
}
